{% macro input(name, value, type, label, size, messages, value_options) %}
    {% if type != 'hidden' %}
        <div class="form-element-{{ name }}">
    {% endif %}

    {% if label %}
        {{ label }}:
    {% endif %}

    {% if type == 'textarea' %}
        <textarea id="editor" name="{{ name }}" size="{{ size|default(20) }}" {% if messages|length > 0 %}class="error"{% endif %}/>{{ value|e }}</textarea>
    {% elseif type == 'checkbox' %}
        <input type="{{ type }}" name="{{ name }}" value="1"{% if value == true %} checked="checked"{% endif %} {% if messages|length > 0 %}class="error"{% endif %}/>
    {% elseif type == 'file' %}
        <input type="{{ type }}" multiple name="{{ name }}" value="{{ value|e }}"  {% if messages|length > 0 %}class="error"{% endif %}/>
    {% elseif type == 'select' %}
        <select name="{{ name }}">
            {% if value_options != false %}
                <div></div>
                {% for value in value_options %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            {% endif %}
        </select>
    {% else %}
        <input id="{{ name }}" type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" {% if messages|length > 0 %}class="error"{% endif %}/>
    {% endif %}

    {% if type != 'hidden' %}
        </div>
    {%  endif %}

    {% if messages|length > 0 %}
        <ul>
            {% for m in messages %}
                <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


